@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
body{
    margin: none;
    font-family: 'Tektur', cursive;
    background-image: url('../Assets/weather-images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    backdrop-filter: blur(5px);
}

*{
    list-style: none;
}
.container{
    width: 607px;
    height: 1100px;
    margin: auto;
    margin-top: 25px;
    border-radius: 60px;
    background: rgb(7, 6, 18);
    background: linear-gradient(180deg, rgb(17, 13, 48) 6%, rgb(18, 27, 81) 100%);
    

}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}
.tenue{
    margin: auto;
    padding: 10px;
    width: 80%;
    border-radius: 60px;
    background: #ffffff;
    color: #000000;
    align-items: center;
    justify-content: center;
    gap: 14px;
    
}
h1{
    text-align: center;
}


.tenus{
    
    
    
    text-align: center;
    list-style: none;
    font-size: 20px;
}
    
.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #fff;
    border: none;
    border-radius: 40px;
    outline: none;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}


.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    
}

.data-container{
    margin-top: 50px;
    color: #000000;
    display: flex;
    justify-content: center;

}

.weather-temp{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 120px;
    font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    color: #fff;
    margin-bottom: 60px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}
.icone{
    margin-top: 10px;
    
}

@media screen and (max-width: 768px){
    .container{
        width: 367px;
        height: 969px;
    }

    .top-bar input{
        
        width: 50%;
        height: 28px;
        
    }
    .search-icon{  
        width: 38px;
        height: 38px; 
    }
    .weather-temp ,.data ,.text, .wend, .humidity-percent{
        font-size: 20px;
    }
    .weather-location{
        font-size: 35px;
    }
    
    
}